<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoResende.Model.Properties.Settings.AutoResende_DataBaseConnectionString"
            connectionString="Data Source=ThiagoDiniz-PC;Initial Catalog=AutoResende.DataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AutoResende.Model.Properties.Settings.AutoResende_DataBaseConnectionString1"
            connectionString="Data Source=FABS-PC;Initial Catalog=AutoResende.DataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>